.loader {
  color: #000;
  font-size: 11px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.sp {
  clear: both;
  height: 32px;
  margin: 0 auto 5px;
  width: 32px; }

/* Spinner Circle Rotation */
.sp-circle {
  border: 4px rgba(0, 0, 0, 0.25) solid;
  border-top: 4px black solid;
  border-radius: 50%;
  -webkit-animation: spCircRot 0.6s infinite linear;
  animation: spCircRot 0.6s infinite linear; }

@-webkit-keyframes spCircRot {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }

@keyframes spCircRot {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

body {
  font-family: "Source Sans Pro", sans-serif; }

.navbar,
.navbar-brand {
  padding: 0;
  margin: 0; }

.container-fluid {
  padding: 0;
  margin: 0; }

.col-md-12 {
  padding: 0; }

#main {
  opacity: 0; }

.row {
  margin: 3px; }

.sidebar {
  border-right: 1px solid #ccc; }
  .sidebar .key-figure {
    padding-bottom: 10px;
    width: 50%; }
    .sidebar .key-figure #label {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: normal;
      font-size: 0.8rem;
      line-height: 1;
      color: #000;
      text-transform: uppercase; }
    .sidebar .key-figure #num {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: bold;
      font-size: 2.5rem;
      line-height: 1;
      min-height: 40px;
      color: #204669; }
  .sidebar .filters {
    display: block;
    padding-top: 5px;
    padding-bottom: 10px; }
  .sidebar select {
    background-color: #fff;
    border-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    font-family: "Source Sans Pro", sans-serif;
    font-size: 0.75rem;
    line-height: 1.5;
    height: 30px;
    width: 100; }

#fResetAll {
  float: right;
  color: #EE3224; }

.hidden {
  display: none; }

.navFeedback a {
  color: #2F9C67; }

#map {
  width: 100%;
  height: 500px;
  position: relative; }

.zoom-controls {
  position: absolute;
  right: 10px;
  top: 45px;
  display: grid;
  grid-gap: 5px; }
  .zoom-controls button {
    width: 30px;
    height: 30px;
    display: grid;
    border-radius: 50% !important;
    background: #a6b0c3;
    color: #fff;
    border: none;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box; }

#countries path {
  cursor: pointer; }

#countries path.inactive {
  cursor: default; }

.d3-tip {
  padding: 5px;
  background-color: white;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 14px; }

.map-tip {
  position: absolute; }

.hidden {
  display: none; }
