// Main content only css
// .content {
//   .navbar {
//     gap: 15px;
//   }
// }
.hidden {
    display: none;
}

.navFeedback {
    a {
        color: #2F9C67;
    }
}

// map
#map {
    width: 100%;
    height: 500px;
    // padding-top: 10px;
    // fill: #fff;
    // fill: #e7eaed;
    position: relative;
}

.zoom-controls {
    position: absolute;
    // left: 45px;
    // bottom: 5px;
    right: 10px;
    top: 45px;
    display: grid;
    grid-gap: 5px;
    button {
        width: 30px;
        height: 30px;
        // font-size: 18px;
        display: grid;
        border-radius: 50% !important;
        background: #a6b0c3;
        color: #fff;
        border: none;
        user-select: none;
        cursor: pointer;
        box-sizing: border-box;
    }
}

#countries path {
    cursor: pointer;
}

#countries path.inactive {
    cursor: default;
}

.d3-tip {
    padding: 5px;
    background-color: white;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 14px;
}

.map-tip {
    position: absolute;
}

.hidden {
    display: none;
}

// end of Main content css