@import "base";
// feedback page
.feedback {
    display: flex;
}

.feedback .sidebar {
    flex: 1;
    margin: 0 5px;
    padding: 0 10px;
    box-shadow: 2px 2px 4px rgba(208, 208, 208, 0.5);
}

.feedback .panel {
    flex: 4;
}

.sidebar .keyfigures {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    span {
        flex: 1;
    }
    #label {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: normal;
        font-size: 0.8rem;
        line-height: 1.8;
        color: #000;
        text-transform: uppercase;
    }
    #num {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 1.8;
        min-height: 40px;
        color: #204669;
        margin: 0;
    }
}

#fResetAll {
    background-color: #F14F43;
    border: 0;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    line-height: 1.8;
    margin: 10px auto;
    text-decoration: none;
}

.sidebar .selections {
    .filters {
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        padding-bottom: 15px;
    }
    select {
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        // box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        font-family: "Source Sans Pro", sans-serif;
        font-size: 0.81rem;
        line-height: 1.8;
        height: 35px;
        width: 60%;
        // margin-right: 5px;
        padding-left: 10px;
    }
    .dropdownDate #dateYearSelect {
        width: 20%;
        // padding-right: 10px;
    }
    .dropdownDate #dateMonthSelect {
        width: 40%;
        margin-left: 10px;
    }
    .dropdownDate .ms-parent {
        margin-left: 5px;
    }
    .ms-choice {
        height: 35px;
    }
}

.panel .navigation {
    margin: 0 5px;
    padding: 0 5px;
}

.col-md-6 {
    padding-left: 0;
}

.panel .navigation .charts {
    padding: 10px 5px;
}

.panel-title {
    display: block;
    font-family: "Open Source", sans-serif;
    font-size: 0.81rem;
    line-height: 1.8;
    text-transform: uppercase;
    color: #999999;
    margin: 10px 5px 10px 5px;
}

.page-desc {
    margin-top: 5px;
    padding: 10px 0;
    font-size: 0.81rem;
    line-height: 1.8;
    text-align: justify;
    border-bottom: 1px solid #CCC;
}

.d3-tip {
    padding: 5px;
    background-color: white;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 14px;
}

.map-tip {
    position: absolute;
}

table.dataTable thead th,
table.dataTable thead td {
    font-size: 0.83rem;
    line-height: 1.1;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
}

.datatable {
    padding: 0 15px;
}

table.dataTable tbody tr {
    // padding-top: 5px;
    font-size: 0.81rem;
    line-height: 1.8;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 0 0 0 10px;
}

@media only screen and (max-width: 767px) {
    .feedback {
        // display: flex;
        flex-direction: column;
    }
}